services:
  SMART_collector:
    container_name: SMART_collector
    restart: unless-stopped
    image: "ghcr.io/analogj/scrutiny:master-collector"
    cap_add:
      - SYS_RAWIO
      - SYS_ADMIN
    volumes:
      - "/run/udev:/run/udev:ro"
    environment:
      COLLECTOR_API_ENDPOINT: "http://192.168.1.10:8081"
      COLLECTOR_HOST_ID: "Work-PC"
      COLLECTOR_RUN_STARTUP: true
    devices:
      - /dev/nvme0
