services:


  beszel-agent:
    image: henrygd/beszel-agent:alpine
    container_name: beszel-agent
    network_mode: host
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./data/beszel_agent_data:/var/lib/beszel-agent
    env_file:
      - .env
    cap_add:
      - SYS_RAWIO
      - SYS_ADMIN
      - CAP_PERFMON
    devices:
      - ${GPU_DEVICE}:${GPU_DEVICE}
      - ${DEVICE_1}:${DEVICE_1}
    environment:
      - KEY=${BESZEL_KEY}
      - LISTEN= /beszel_socket/beszel.sock
      - TOKEN=${BESZEL_TOKEN}
      - HUB_URL=http://${COLLECTOR_HOST_IP}:8090
      - INTEL_GPU_DEVICES=${GPU_DEVICE}
      - SMART_DEVICES=${DEVICE_1}:${DEVICE_1_TYPE}
